header{
	position: relative;
	font-family: 'Montserrat', sans-serif;
}

body {
	font-family: 'Montserrat', sans-serif;
}
h1, h3 {
	font-family: 'Dosis', sans-serif;

}

.ship_container{
	background-image: url('ship.jpg');
	font-family: 'Dosis', sans-serif;
  	height: 70vh;
  	background-size: cover;
  	text-align: center;
  	position: relative;
  	margin-bottom: 20px;
  	display: flex;
  	justify-content: center;
  	align-items: center;
 	 flex-direction: column;
  	background-attachment: fixed
}

td, th{
	padding: 0px;
}

li{
	list-style: none;
}

#new_prod_form{
	top: 5px;
right: 5px;
position: absolute;
}
#row1{
position: relative;
margin: 15px;
}

header li{
	display: inline-block;
	padding: 1px;
}

header ul{
position: absolute;
top: 5px;
right: 5px;
}


footer{
	font-family: 'Dosis', sans-serif;
	text-align: center;
}



