<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Zmiana hasła</title>
    <link rel="stylesheet" th:href="@{/css/loginCSS.css}"
          href="../static/css/loginCSS.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Dosis|Montserrat" rel="stylesheet">
</head>
<body>
<div style="width: 500px; margin: auto; margin-top: 300px; text-align:center">
    <h3>ZMIANA HASŁA</h3>
    <form th:action="@{/changePassword}" method="post">
        Wpisz nowe hasło:<br/>
        <input type="password" name="password"/><br/>
        <input class="btn btn-secondary" type="submit" value="Potwierdź"/>
    </form></div>
</body>
</html>