<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Usuwanie</title>
    <link rel="stylesheet" th:href="@{/css/loginCSS.css}"
          href="../static/css/loginCSS.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Dosis|Montserrat" rel="stylesheet"></head>
<body>
<h2 style="font-family: 'Dosis', sans-serif">Czy na pewno chcesz usunąć produkt?</h2>
<h5 style=" font-weight: bold;font-family: 'Roboto', sans-serif">Ponowne jego odzyskanie nie będzie możliwe!</h5>
<form th:action="@{/deleting}" method="post" >
    <input type="submit" class="btn btn-secondary" value="Tak">

    <!--/*@thymesVar id="indexOfProd" type="String"*/-->
    <!--Problem ze zmiennymi dodawanymi przez model: https://stackoverflow.com/questions/38710585/spring-boot-thymeleaf-in-intellij-cannot-resolve-vars-->

    <input class="form-control"
           type="hidden"
           th:value="${indexOfProd}" id="index" name="index"  /> <!--indexOfProd cant be resolved-->
    <a class="btn btn-secondary" role="button" href="/">Nie</a>
</form>
</body>
</html>