<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edycja</title>
    <link rel="stylesheet" th:href="@{/css/loginCSS.css}"
          href="../static/css/loginCSS.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Dosis|Montserrat" rel="stylesheet"></head>
<body>
<h1 style="font-family: 'Dosis', sans-serif">EDYTOWANIE PRODUKTU</h1>
<div align="center">
<!--/*@thymesVar id="editProduct" type="pl.ines.shipcompany.model.Product"*/-->
<form th:action="@{/editing}" method="post" th:object="${editProduct}" style="margin: auto; width: 300px; font-family: 'Roboto', sans-serif" >
    <input type="hidden" th:field="*{id}"> <!--bez tego id sie nie przekazywalo-->
    <input type="number" placeholder="Grubość" th:field="*{thickness}" /> <br>
    <input type="number" placeholder="Szerokość" th:field="*{width}"/> <br>
    <input type="number" placeholder="Długość" th:field="*{length}"/> <br>
    <input type="number" placeholder="Ilość" th:field="*{quantity}"/> <br>
    <input type="text" placeholder="Gatunek" th:field="*{grade}"/> <br>
    <input type="text" placeholder="Tolerancja" th:field="*{tolerance}"/> <br>
    <button style="margin-top: 5px" type="submit" class="btn btn-secondary">Dodaj</button>
</form>
</div>
</body>
</html>