<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Logowanie</title>
    <link rel="stylesheet" th:href="@{/css/loginCSS.css}"
          href="../static/css/loginCSS.css" />
    <link href="https://fonts.googleapis.com/css?family=Dosis|Montserrat" rel="stylesheet">
</head>
<body>
<div class="login-page">
    <h1 style="font-family: 'Dosis', sans-serif">LOGOWANIE</h1>
    <div class="form">
        <form class="login-form" th:action="@{/login}" method="post" style="font-family: 'Roboto', sans-serif">
            <input type="text" placeholder="nazwa użytkownika" name="username"/><br/>
            <input type="password" placeholder="hasło" name="password"/><br/>
            <button type="submit" value=>Zaloguj</button>
        </form>
    </div>
</div>
</body>
</html>