<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Nowy produkt</title>
    <link rel="stylesheet" th:href="@{/css/loginCSS.css}"
          href="../static/css/loginCSS.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Dosis|Montserrat" rel="stylesheet">
</head>
<body>
<h1 style="font-family: 'Dosis', sans-serif">DODAWANIE NOWEGO PRODUKTU</h1>
<div align="center">
<!--/*@thymesVar id="newProduct" type="pl.ines.shipcompany.model.Product"*/-->
<form CLASS="login-form" th:action="@{/adding}" method="post" th:object="${newProduct}" style="margin: auto; width: 300px; font-family: 'Roboto', sans-serif" >
        <input type="number" placeholder="Grubość:" th:field="*{thickness}"/> <br>
        <input type="number" placeholder="Szerokość" th:field="*{width}"/> <br>
        <input type="number" placeholder="Długość" th:field="*{length}"/> <br>
        <input type="number" placeholder="Ilość" th:field="*{quantity}"/> <br>
        <input required type="text" placeholder="Gatunek" th:field="*{grade}"/> <br>
        <input required type="text" placeholder="Tolerancja" th:field="*{tolerance}"/> <br>

            <!--/*@thymesVar id="user" type="pl.ines.shipcompany.model.User"*/-->
            <!--/*@thymesVar id="users" type="java.util.List"*/-->

        <button style="margin: 10px" type="submit" class="btn btn-secondary">Dodaj</button>
</form>

<form th:action="@{/}" style="margin: auto; width: 300px">
    <button type="submit" class="btn btn-secondary" >Anuluj</button>
</form>
</div>
</body>
</html>